<head>
  @{
      ViewData["Title"] = "Home Page";
  }
  <style>

    label {
      display:inline-block;
      margin-right:5px;
      text-align:right;
      width:145px;
    }

    fieldset {
      border:none;
      margin:0px auto;
      width:200px;
    }

    hr {
      border: 1px solid #1d7c1b;
      color: #1d7c1b;
      weight: large;
      opacity: inherit;
      margin-bottom: 80px;
    }

    .homepage_container {
      padding: 60px auto 60px;
      position: relative;
    }

    .password_requirements {
      color: gray;
      margin: 50px auto 10px;
    }

    .people_planting {
      left: 528px;
      position: absolute;
      top: 45px;
      width: 700px;
    }

    .signup_container {
      margin-left:0px;
      margin-top:20px;
    }

    .signup_title {
      color: #004010;
      margin-bottom: 20px;
    }

    .img_trusted {
      width: 150px;
    }
    .img_local {
      width: 150px;
      margin-left: 20px;
      
    }
    .img_friendly {
      width: 150px;
    }

    .trusted {
      position:absolute;
      top: 0;
      left: 200px;
    }    
    
    .local {
      position:absolute;
      top: 0;
      left: 580px;
    }    
    
    .friendly {
      position:absolute;
      top: 0;
      left: 900px;
    }

    .ethos_container {
      position: relative;
      text-align: center;
      padding-top: 50px;
      padding-bottom: 30px;
    }

    .ethos_statement{
      margin-top: 150px;
      font-size: large;
    }

     #connect_button {
          background-color: white;
          color: forestgreen;
          border: 1px solid;
          padding: 5px 20px;
          text-decoration: none;
          border-radius: 8px;
          margin-left: 10px;
          transition: all 200ms ease-in-out;       
      }

      #connect_button:hover {
      background-color: #1d7c1b;
      color: white;
      cursor: pointer;
      }
    #slogan {
      color: forestgreen;
      font-style: italic;
      border-bottom: 0.2px groove;
      margin-top: 0;
      padding-top: 20px;
      padding-bottom: 34px;
    }

    #submit {
      background-color: white;
      border: 1px solid;
      border-radius: 8px;
      color: forestgreen;
      margin-left: 10px;
      padding: 5px 20px;
      text-decoration: none;
      transition: all 200ms ease-in-out;       
    }

    #submit:hover {
      background-color: #7cba00;
      color: white;
      cursor: pointer;
    }
  </style>
</head>

<body>
  <div class="text-center">
    <h1 id="slogan">Where good neighbours become good friends</h1>
  </div><br/>
    <div class="ethos_container">
      <div class="trusted">
        <h2>TRUSTED</h2><br/>
        <img class="img_trusted" src="https://imageio.forbes.com/b-i-forbesimg/joefolkman/files/2013/06/Trust-Fall-300x225.jpg?format=jpg&width=300" />
      </div>
      </br>
      <div class="local">
        <h2>LOCAL</h2><br/>
        <img class="img_local" src="http://cdn2.hubspot.net/hub/208844/file-363327064-png/images/google_local-resized-600.png" /><br/><br/>
      </div>
      </br>
      <div class="friendly">
        <h2>FRIENDLY</h2><br/>
        <img class="img_friendly"src="https://media.proprofs.com/images/QM/user_images/1864931/5533438825.gif" /><br/><br/>
      </div>

      <div class="ethos_statement">
        <h4 class="sentence">Neighbours is where you can connect to the neighbourhood around you, through giving, lending, borrowing and using each other's items and skills.</h4>
        <h4 class="sentence"> Through this trusted platform, you can build real world connections and turn neighbours into friends.</h4><br/>
        <a href="/signup" class="sentence"id="connect_button" > Connect to your neighbour today!</a>
      </div>
    </div>

  </div>
</body>


