<head>
  @{
      ViewData["Title"] = "Home Page";
  }
  <style>

    label {
      display:inline-block;
      width:145px;
      margin-right:5px;
      text-align:right;
    }

    fieldset {
      border:none;
      width:200px;
      margin:0px auto;
    }

    .homepage_container {
      padding: 60px auto 60px;
      position: relative;
    }

    .password_requirements {
      color: gray;
      margin: 50px auto 10px;
    }

    .people_planting {
      left: 500px;
      position: absolute;
      top: 40px;
      width: 65%;
    }

    .signup_container {
      margin-left:0px;
      margin-top:20px;
    }

    .signup_title {
      margin-bottom: 20px;
    }

    #slogan {
        margin-top: 0;
        color: forestgreen;
        border-bottom: 0.2px groove;
        padding-top: 20px;
        padding-bottom: 34px;
        font-style: italic;
    }

    #submit {
      background-color: white;
      color: forestgreen;
      border: 1px solid;
      padding: 5px 20px;
      text-decoration: none;
      border-radius: 8px;
      margin-left: 10px;

    }
  </style>
</head>

<body>
  <div class="text-center">
    <h1 id="slogan">Where good neighbours become good friends</h1>
  </div>

  <div class="homepage_container">

    <div class="signup_container"> 
      <h5 class="signup_title">Sign Up</h5>
        <form class="signup_form" action="/users" method="post">
          <div class="form_input_fields">
            <label>Name</label>
            <input type='text' id='name' name='name' placeholder='Name' required/><br><br>
            <label>Email</label>
            <input type='email' id='email' name='email' placeholder='Email' required/><br><br>
            <label>Phone Number</label>
            <input type='tel' id='phonenumber' name='phonenumber' placeholder='Phone Number' required/><br><br>
            <label>Address</label>
            <input type='text' id='address' name='address' placeholder='Address' required/><br><br>
            <label>Password</label>
            <input type='password' id='password' name='password' placeholder='Password' required/><br><br>
            <label>Confirm Password</label>
            <input type='password' id='confirm-password' name='confirm-password' placeholder='Confirm Password' required/><br><br>
            <input type='submit' id='submit' value='Sign Up'/>
          </div>

          <div class="password_requirements">
            <p> 
              <em> 
                Password requirements:
                <ul>
                    <li>Must be 8 or more characters long</li>
                    <li>Must include at least one capital letter</li>
                    <li>Must include at least one lower-case letter</li>
                    <li>Must include at least one number</li>
                    <li>Must include at least one special character</li>
                </ul>
              </em>
            </p>
          </div>

        @* <input type="file" name="ImageData" id="ImageData" onchange="fileCheck(this);"/>   *@
      </form>
      <br>
      <h6 id="message" style="color:red">@ViewBag.Message</h6>
      <br>
          <img class="people_planting" src="https://chopra.brightspotcdn.com/dims4/default/5ce9dc9/2147483647/strip/true/crop/693x390+61+0/resize/1200x675!/quality/90/?url=http%3A%2F%2Fchopra-brightspot.s3.amazonaws.com%2F24%2Fa8%2Ffaa072655ded01ab5619b910f567%2Fvolunteers.jpg" alt="people_planting"/>
    </div>
  </div>
</body>


