<head>
  @{
      ViewData["Title"] = "Home Page";
  }
  <style>

    label {
      display:inline-block;
      width:200px;
      margin-right:5px;
      text-align:right;
    }

    fieldset {
      border:none;
      width:200px;
      margin:0px auto;
    }

    .homepage_container {
      padding: 60px auto 60px;
      position: relative;
    }

    .password_requirements {
      color: gray;
      margin: 50px auto 10px;
    }

    .people_planting {
      left: 600px;
      position: absolute;
      top: 200px;
      width: 50%;
    }

    .create_listing_container{
      margin-left:0px;
      margin-top:20px;
    }

    .create_listing_title {
      margin-bottom: 20px;
    }

    #slogan {
        color: forestgreen;
        margin-top: 0;
        border-bottom: 0.2px groove;
        padding-top: 20px;
        padding-bottom: 34px;
        font-style: italic;
    }

    #submit {
      background-color: white;
      color: forestgreen;
      border: 1px solid;
      border-radius: 8px;
      margin-left: 10px;
      padding: 5px 20px;

    }
  </style>
</head>

<body>
  <div class="text-center">
    <h1 id="slogan">Where good neighbours become good friends</h1>
  </div>

  <div class="create_listing_page_container">

    <div class="create_listing_container"> 
      <h5 class="create_listing_title">Create Listing</h5>
        <form class="create_listing_form" action="/create-listing" method="post">
          <div class="form_input_fields">
            <label>Item/Service</label>
            <input type='text' size="25" id='item_service' name='item_service' placeholder='What are you offering?' required/><br><br>
            <label>Description</label>
            <input type='description' size="25" id='description' name='description' placeholder='Give a brief description...' required/><br><br>
            <label>Location</label>
            <input type='text' size="25" id='location' name='location' placeholder='Where are you based?' required/><br><br>
            <label>Price</label>
            <input type='text' id='price' size="25" name='price' placeholder='How much are you charging?' required/><br><br>
            <input type='submit' id='submit' value='Create Listing'/>
          </div>


        @* <input type="file" name="ImageData" id="ImageData" onchange="fileCheck(this);"/>   *@
      </form>
    </div>
          <img class="people_planting" src="https://chopra.brightspotcdn.com/dims4/default/5ce9dc9/2147483647/strip/true/crop/693x390+61+0/resize/1200x675!/quality/90/?url=http%3A%2F%2Fchopra-brightspot.s3.amazonaws.com%2F24%2Fa8%2Ffaa072655ded01ab5619b910f567%2Fvolunteers.jpg" alt="people_planting"/>
  </div>
</body>


