<head>
  @{
      ViewData["Title"] = "Edit Listing Page";
  }
  <style>

    label {
      display:inline-block;
      width:200px;
      margin-right:5px;
      text-align:right;
    }

    fieldset {
      border:none;
      width:200px;
      margin:0px auto;
    }

    .homepage_container {
      padding: 60px auto 60px;
      position: relative;
    }

    .password_requirements {
      color: gray;
      margin: 50px auto 10px;
    }

    .woman_giving_man_cup_of_tea {
      left: 600px;
      position: absolute;
      top: 240.5px;
      width: 600px;
    }

    .create_listing_container{
      margin-left:0px;
      margin-top:20px;
    }

    .create_listing_title {
      color: #004010;
      font-size: 20px;
      margin-bottom: 20px;
    }

    #submit {
      background-color: white;
      color: forestgreen;
      border: 1px solid;
      border-radius: 8px;
      padding: 5px 20px;
      transition: all 200ms ease-in-out;       
    }

    #submit:hover {
      background-color: #7cba00;
      color: white;
      cursor: pointer;
    }
  </style>
</head>

<body>
  
  <div class="create_listing_page_container">

    <div class="create_listing_container"> 
      <h5 class="create_listing_title">Edit Listing</h5>
      <form class="create_listing_form" action="/edit-listing" method="post">
        <div class="form_input_fields">
          <label>Item/Service</label>
          <input type='text' size="25" id='item_service' name='item_service' value="@ViewBag.Listing.Item_Service" required/><br><br>
          <label>Description</label>
          <input type='description' size="25" id='description' name='description' value="@ViewBag.Listing.Description" required/><br><br>
          <label>Location</label>
          <input type='text' size="25" id='location' name='location' value="@ViewBag.Listing.Location" required/><br><br>
          <input type='hidden' id='listing-id' name='listing-id' value='@ViewBag.Listing.Id'/>
          <input type='submit' id='submit' value='Update Listing'/>
        </div>
      </form>
    </div>
    <img class="woman_giving_man_cup_of_tea" src="https://www.vandeventers.law/Portals/25/boundary-walls-what-happens-when-your-neighbour-builds-over-the-boundary-line_main.jpg" alt="woman_giving_man_cup_of_tea"/>
  </div>
</body>


