<head>
  @{
      ViewData["Title"] = "Search Page";
  }
  <style>

    label {
      display:inline-block;
      margin-right:5px;
      text-align:right;
      width:100px;
    }

    fieldset {
      border:none;
      margin:0px auto;
      width:200px;
    }

    .create_listing_message {
      font-size: 22px;
      margin-top: 100px;
    }
    .form_input_fields {
      margin: 40px auto;
    }

    .search_page_container {
      padding: 60px auto 60px;
      position: relative;
    }

    .people_planting {
      top: 40px;
      left: 500px;
      position: absolute;
      width: 65%;
    }

    .search_form_container {
      margin-left:0px;
      margin-top:20px;
    }

    .search_title {
      color: #004010;
      font-size: 20px;
      margin-bottom: 20px;
    }

    #slogan {
        margin-top: 0;
        color: forestgreen;
        border-bottom: 0.2px groove;
        padding-top: 20px;
        padding-bottom: 34px;
        font-style: italic;
    }

    #submit {
      background-color: white;
      border: 1px solid;
      border-radius: 8px;
      color: forestgreen;
      padding: 5px 20px;
      text-decoration: none;
      transition: all 200ms ease-in-out;       
    }

    #submit:hover {
      background-color: #7cba00;
      color: white;
      cursor: pointer;
    }


      

  </style>
</head>

<body>
  <div class="text-center">
    <h1 id="slogan">Where good neighbours become good friends</h1>
  </div>

  <div class="search_page_container">

    <div class="search_form_container"> 
      <h5 class="search_title">Search</h5>
      <form class="search_form" action="/results" method="get">
        <div class="form_input_fields">
          <label>Location</label>
          <input type='text' size="22" id='location' name='location' placeholder='Where are you located?'/><br><br>
          <label>Requirements</label>
          <input type='text' size="22" id='requirements' name='requirements' placeholder='What are you looking for?'/><br><br>
        </div>
        <input type='submit' id='submit' value='Submit'/>
      </form>
      <br>
      <h6 id="message" style="color:red">@ViewBag.Error</h6>
      <br>
      <img class="people_planting" src="https://chopra.brightspotcdn.com/dims4/default/5ce9dc9/2147483647/strip/true/crop/693x390+61+0/resize/1200x675!/quality/90/?url=http%3A%2F%2Fchopra-brightspot.s3.amazonaws.com%2F24%2Fa8%2Ffaa072655ded01ab5619b910f567%2Fvolunteers.jpg" alt="people_planting"/>
    </div>

    <p class="create_listing_message"><em>Can you help a neighbour? <a  href="/create-listing" id="create_listing" >Add a listing</a></em></p>
  </div>
</body>


