<head>
  @{
      ViewData["Title"] = "Search Page";
  }
  <style>

    label {
      display:inline-block;
      margin-right:5px;
      text-align:right;
      width:100px;
    }

    fieldset {
      border:none;
      margin:0px auto;
      width:200px;
    }

    .create_listing_message {
      font-size: 22px;
      margin-top: 100px;
    }
    .form_input_fields {
      margin: 40px auto;
    }

    .search_page_container {
      padding: 60px auto 60px;
      position: relative;
    }

    .women_exchanging_basket {
      left: 528px;
      position: absolute;
      top: 45px;
      width: 700px;
    }

    .search_form_container {
      margin-left:0px;
      margin-top:20px;
    }

    .search_title {
      color: #004010;
      font-size: 20px;
      margin-bottom: 20px;
    }

    #slogan {
      border-bottom: 0.2px groove;
      color: forestgreen;
      font-style: italic;
      margin-top: 0;
      padding-top: 20px;
      padding-bottom: 34px;
    }

    #submit {
      background-color: white;
      border: 1px solid;
      border-radius: 8px;
      color: forestgreen;
      padding: 5px 20px;
      text-decoration: none;
      transition: all 200ms ease-in-out;       
    }

    #submit:hover {
      background-color: #7cba00;
      color: white;
      cursor: pointer;
    }


      

  </style>
</head>

<body>
  <div class="text-center">
    <h1 id="slogan">Where good neighbours become good friends</h1>
  </div>

  <div class="search_page_container">

    <div class="search_form_container"> 
      <h5 class="search_title">Search</h5>
      <form class="search_form" action="/results" method="get">
        <div class="form_input_fields">
          <label>Requirements</label>
          <input type='text' size="22" id='requirements' name='requirements' placeholder='What are you looking for?'/><br><br>
          <label>Location</label>
          <input type='text' size="22" id='location' name='location' placeholder='Where are you located?'/><br><br>
        </div>
        <input type='submit' id='submit' value='Submit'/>
      </form>
      <img class="women_exchanging_basket" src="https://www.brightonescrow.com/wp-content/uploads/2020/08/shutterstock_1216266838-thegem-blog-default.jpg" alt="women-exchanging-basket"/>
    </div>

    <p class="create_listing_message"><em>Can you help a neighbour? <a  href="/create-listing" id="create_listing" >Add a listing</a></em></p>
  </div>
</body>


