<head>
  <style>
    label{
      display:inline-block;
      width:70px;
      margin-right:5px;
      text-align:right;
    }

    fieldset{
      border:none;
      width:500px;
      margin:0px auto;
    }

    form {
      margin-top: 30px;
    }

    .signin_container {
      margin-left: 500px;
      margin-top: 30px;
    }

  </style>

</head>

<body> 
  @* <a href="/" id="signup">Sign Up</a> *@
  
  <div class="signin_container"> 
    <h1>Sign In</h1>
    <form action="/signin" method="post">
      <label>Email</label>
      <input type='email' id='email' name='email' placeholder='Email'/><br><br>
      <label>Password</label>
      <input type='password' id='password' name='password' placeholder='Password'/><br><br>
      <input type='submit' id='submit' value='Submit'/>
    </form>
    <br>
      <h6 id="message" style="color:grey">@ViewBag.Message</h6>
    <br>
  </div>
</body>
