<head>
  <style>
    label{
      display:inline-block;
      margin-right:5px;
      text-align:right;
      width:70px;
    }

    fieldset{
      border:none;
      margin:0px auto;
      width:500px;
    }

    form {
      margin-top: 30px;
    }

    .signin_container {
      margin-left: 500px;
      margin-top: 30px;
    }

    #submit {
      border: 1px solid;
      border-radius: 8px;
      margin-left: 10px;
      padding: 5px 20px;
    }


  </style>

</head>

<body> 
  @* <a href="/" id="signup">Sign Up</a> *@
  
  <div class="signin_container"> 
    <h5>Sign In</h5>
    <form action="/signin" method="post">
      <label>Email</label>
      <input type='email' id='email' name='email' placeholder='Email' required/><br><br>
      <label>Password</label>
      <input type='password' id='password' name='password' placeholder='Password' required/><br><br>
      <input type='submit' id='submit' value='Sign In'/>
    </form>
    <br>
      <h6 id="message" style="color:red">@ViewBag.ErrorMessage</h6>
      <h6 id="message" style="color:green">@ViewBag.SuccessMessage</h6>

    <br>
  </div>
</body>
