<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - neighbours</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/neighbours.styles.css" asp-append-version="true" />
    <style>

      #logo{
      color: forestgreen;
      }

      #my_profile {
          background-color: white;
          color: forestgreen;
          border: 1px solid;
          padding: 5px 20px;
          text-decoration: none;
          border-radius: 8px;
          margin-left: 10px;
          transition: all 200ms ease-in-out;       
      }

      #my_profile:hover {
      background-color: #1d7c1b;
      color: white;
      cursor: pointer;
      }

      #signin {
          background-color: white;
          color: forestgreen;
          border: 1px solid;
          padding: 5px 20px;
          text-decoration: none;
          border-radius: 8px;
          margin-left: 10px;
          transition: all 200ms ease-in-out;       
      }

      #signin:hover {
      background-color: #1d7c1b;
      color: white;
      cursor: pointer;
      }

      #signout {
          background-color: white;
          color: forestgreen;
          border: 1px solid;
          padding: 5px 20px;
          text-decoration: none;
          border-radius: 8px;
          margin-left: 10px;
          transition: all 200ms ease-in-out;       
      }

      #signout:hover {
      background-color: #1d7c1b;
      color: white;
      cursor: pointer;
      }

    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" id="logo" asp-area="" asp-controller="Home" asp-action="Index">neighbours</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link text-dark" href="/search" id="search" >Search</a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link text-dark" href="/create-listing" id="create_listing" >Create Listing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/listings-all" id="listings_all" >All Listings</a>
                        </li>
           </ul>
                </div>
                @if(ViewBag.Name != null)
                {
                    <div class="greet_user">Hello, @ViewBag.Name!</div>
                    <a href="/my-profile" id="my_profile">My Profile</a>
                    <a href="/signout" id="signout">Sign Out</a>
                }
                else
                {
                    <a href="/signin" id="signin">Sign In</a>
                }
                @* <a href="/signin" id="signin">Sign In</a> *@
            </div>
        </nav>
    </header>
    

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - neighbours - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
